*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito', sans-serif;

}
/*---------Header---------------*/
.top-bar{
    flex: 1;
    text-align: right;
    padding-bottom: 5px;

}

.top-bar{
    max-width: 1300px;
    margin: auto;
    background-color: #e37834;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-text-fill-color: #ffffff;
    font-size: 20;
    
    }

    @keyframes move {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(100%);
        }
      }
      
      .moving-text {
        animation: move 20s linear infinite;
      }
      .moving-text span{
        margin: 80px;
      }
      
.navbar{
    max-width: 1300px;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    background-color: #f3f8f5;
}


nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
  


}
nav ul li{
    display: inline-block;
    margin: right 20px ;
    padding: 10px 20px; 
    font-weight: bold;
    
}
nav ul li a:hover{
    color:#05a95c;
    transition: .4s;
    transition-duration: 120ms;
  } 

a{
    text-decoration: none;
    

}



h5{
    color: #05a95c;
}
    
h6{
    color: #05a95c;
    font-size: 6px;
}

.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;

}

.logo{
    display: flex;
    align-items: left;
    margin-top: 5px;   
}

.login{
   border: 1px solid rgb(15, 136, 15);
    border-radius: 5px;
    padding: 8px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    margin-right: 20px;

}
.col-2 h1{

    font-size: 30px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #05a95c;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
   

}
.header{
    background: radial-gradient(#fff);

}
.header .row{
margin-top: 5px;

}
.btn:hover{
    color:#e37834;
    transition: .4s;
    transition-duration: 120ms;
  } 

  /*---------Popular Searches--------------*/

  .categories{
margin: 30px 0 0 0;
background-color: #f3f8f5;
padding-bottom: 30px;

  }

.col-3{
    /* flex-basis: 30%; */
    /* min-width: 150px; */
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    height: 250px;
    
}
.col-3 img{
width: 70%;
max-height: 400px;

}
.small-container{

    max-width: 1080;
    /* margin: auto; */
    padding-left: 25px;
    padding-right: 25px;

}


.btn-2{
    display: inline-block;
    background: #05a95c;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-align: center;
}

.btn-2 a{
    color: #ffffff;
}

.btn-2:hover{
    background:green;
    transition-duration: 120ms;
    
}
/*---------featured products---------------*/
.col-4{
    /* flex-basis: 25%; */
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    background-color: #ffffff;

}

.fit{
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
}
.col-4 img{
    width: 70%;


}

.titles{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #2B2B2B;
}

.titless{
    text-align: center;
    margin: 0 auto 0px;
    position: relative;
    line-height: 60px;
    color: #2B2B2B;
    background-color: #f3f8f5;
    padding-bottom:30px;
}

.titless a{
    margin-bottom: 0px;
    background: #05a95c;
    padding:10px;
    border-radius:8px;
    font-size:28px;
    color:white;
}

img:hover{
    transform: scale(1.15);
    transition-duration: 150ms;
}



.titless a:hover{
    background-color: rgb(5, 73, 5);
    transition-duration: 120ms;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #2B2B2B;
}

.title::after{
    content: '';
    background: #05a95c;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
font-size: 14px;


}
.rating .fa{
color: #ff523b;

}
.col-4:hover{
transform: translateY(5px);
    transition-duration: 150ms;
}

 
/*----- Testimonials-------*/
.testimonial{
padding-top: 100px;


}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20ox;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
font-size: 34px;
color: #ff523b;

}
.col-3 p{

font-size: 12;
margin: 12px 0;
color: #555555;


}
.testimonial .col-3 h3{
font-weight: bold;


}

/*----- Top Brands-------*/
.col-5{
    width: 50px;
    
}

.col-5 img{
    /* width: 100%; */
    cursor: pointer;
}

.brandss{
    background: #E88E56;
    padding: 20px;  
}

.b4footer{
    background-color: #f3f8f5;
}
    

/*----- Subscribe-------*/
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin: 75px;
}

.textc{
    text-align:center;
}
.subscribe input[type="text"] {
    background-color: #ffffff; 
    border: none; 
    width: 550px; 
    height: 50px;
    border-radius :8px;
    padding-left: 5px;
  }
    ::placeholder {
    font-family:'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: Gray;
  } 

.unknown{
    background-color: #ffffff;
    padding: 20px;
    background: #61d49e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    
}

.unknown input{
    padding: 10px;
    width: 400px;
    height: 50px;
    border-radius :8px;
    border: 1px solid rgb(209, 207, 207);
}

/*-----STYLE FOOTER SECTION------*/
.footer-col{
  display: flex;
  flex-flow: row wrap;
  gap: 0rem 15rem;
  justify-content: center;
  font-size: 12.5px;
  background: #05a95c;
  width: 100%;
  line-height: 2.5em;
  padding-top: 50px;
  padding-bottom: 50px;
 }
    
    .last-row {
    
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 12px;
        color: rgb(255, 253, 253);
    }
.footer-col a, .footer-col h3{
    color: #fff;
    

}