{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="../Assets/css/dashboardoverview.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/dashboardc.css' %}">
    <script src="https://kit.fontawesome.com/d1950907f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Dashboardcompare</title>
</head>

<body>
    <!-- header -->
    <header>
        <div>
            <img src="{% static 'images/registration/logo.png'%}" style="" class="logo">
        </div>
        <div class="link">
            <p>Overview</p>
            <p>Compare Price</p>
            <p>Settings</p>
        </div>
        <div class="div3">
            <img src="{% static 'images/dashboard/dp.png'%}" style="width: 35px;height:35px" alt="" class="svg">
            <div class="user">
                <h3>{{user.username}}</h3>
                <p>Active</p>
            </div>
            <div style="line-height: 2%;"><img src="{% static 'images/dashboard/alert.png'%}" alt="" class="svg">
            </div>
            <div><img src="{% static 'images/dashboard/Logout.png'%}" alt="" class="svg"></div>
        </div>

    </header>
    <main class="main" style="background-color: rgb(235, 230, 230) ;">
        <!-- First rectangle -->
        <section class="first">
            <div class="head1">
                <p>Category</p>
            </div>
            
            <div class="category">
                
                <div class="item">
                    <a href="#">Accessories</a>
                    <a href="#">Computing</a>
                    <a href="#">Gaming</a>
                    <a href="#">Mobile Phones</a>
                    <a href="#">Surveillance</a>
                </div>
            </div>

            <div class="head1">
                <p>Brands</p>
                <div class="brands">
                    <input type="search" name="" id="">
    
                    <label for="">
                        <input type="checkbox">Apple
                    </label>
                    <label for="">
                        <input type="checkbox">Samsung
                    </label>
                    <label for="">
                        <input type="checkbox">Infinix
                    </label>
                    <label for="">
                        <input type="checkbox">Bosch
                    </label>
                    <label for="">
                        <input type="checkbox">Axis
                    </label>
                </div>
            </div>
           

            <div class="head1">
                <p>Price</p>
                
            </div>
            <div class="pricerange">
                <div class="price">
                    <p>50,000</p>
                    <i class="bi bi-dash" style="font-size: 50px; color: #05A95C;margin-bottom:20px;"></i>
                    <p>1,500,000</p>
                </div>
            </div>
           
        </section>
        <!-- First rectangle ends -->

        <!-- Second rectangle -->
        <section class="second">
            <p class="head">Compare Prices</p>
            <p class="body">361440 products found</p>
            <div class="cards">
                <div class="card">
                    <div class="img">
                        <img src="{% static 'images/landingpage/Iphone141.png'%}">
                    </div>
                    <div class="details">
                        <p class="product-name">Apple IPhone 13 Pro Max (6GB RAM + 256GB ROM), IOS 15, - Gold</p>
                        <p class="info">Brand: Apple | Similar products from Apple<span>N 640,000</span>
                        </p>
                        <ul>
                            <li>6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel</li>
                            <li>Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
                            </li>
                            <!-- <li>Pro camera system with new 12MP Telephoto, Wide, and Ultra Wide cameras; LiDAR Scanner;
                                6x optical zoom range; macro photography; Photographic Styles, ProRes video, Smart HDR
                                4, Night mode, Apple ProRAW, 4K Dolby Vision HDR recording</li>
                            <li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
                            <li>A15 Bionic chip for lightning-fast performance</li>
                            <li>6GB RAM 128GB ROM</li>
                            <li>(12MP + 12MP + 12MP)</li>
                            <li>5G</li> -->
                        </ul>
                        <div class="store-price">
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/jumia.png'%}" alt=""><span><span
                                        class="naira">N</span> 150,000</span>
                            </div>

                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/konga.png'%}" alt=""><span><span
                                        class="naira">N</span> 350,000</span>
                            </div>
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/infinix.png'%}" alt=""><span><span
                                        class="naira">N</span> 1,950,000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'images/landingpage/Iphone141.png'%}" alt="">
                    </div>
                    <div class="details">
                        <p class="product-name">Apple IPhone 13 Pro Max (6GB RAM + 256GB ROM), IOS 15, - Gold</p>
                        <p class="info">Brand: Apple | Similar products from Apple<span>N 640,000</span>
                        </p>
                        <ul>
                            <li>6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel</li>
                            <li>Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
                            </li>
                            <!-- <li>Pro camera system with new 12MP Telephoto, Wide, and Ultra Wide cameras; LiDAR Scanner;
                                6x optical zoom range; macro photography; Photographic Styles, ProRes video, Smart HDR
                                4, Night mode, Apple ProRAW, 4K Dolby Vision HDR recording</li>
                            <li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
                            <li>A15 Bionic chip for lightning-fast performance</li>
                            <li>6GB RAM 128GB ROM</li>
                            <li>(12MP + 12MP + 12MP)</li>
                            <li>5G</li> -->

                        </ul>
                        <div class="store-price">
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/jumia.png'%}" alt=""><span><span
                                        class="naira">N</span> 150,000</span>
                            </div>

                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/konga.png'%}" alt=""><span><span
                                        class="naira">N</span> 350,000</span>
                            </div>
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/infinix.png'%}" alt=""><span><span
                                        class="naira">N</span> 1,950,000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'images/landingpage/Iphone141.png'%}">
                    </div>
                    <div class="details">
                        <p class="product-name">Apple IPhone 13 Pro Max (6GB RAM + 256GB ROM), IOS 15, - Gold</p>
                        <p class="info">Brand: Apple | Similar products from Apple<span>N 640,000</span>
                        </p>
                        <ul>
                            <li>6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel</li>
                            <li>Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
                            </li>
                            <!-- <li>Pro camera system with new 12MP Telephoto, Wide, and Ultra Wide cameras; LiDAR Scanner;
                                6x optical zoom range; macro photography; Photographic Styles, ProRes video, Smart HDR
                                4, Night mode, Apple ProRAW, 4K Dolby Vision HDR recording</li>
                            <li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
                            <li>A15 Bionic chip for lightning-fast performance</li>
                            <li>6GB RAM 128GB ROM</li>
                            <li>(12MP + 12MP + 12MP)</li>
                            <li>5G</li> -->

                        </ul>
                        <div class="store-price">
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/jumia.png'%}" alt=""><span><span
                                        class="naira">N</span> 150,000</span>
                            </div>

                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/konga.png'%}" alt=""><span><span
                                        class="naira">N</span> 350,000</span>
                            </div>
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/infinix.png'%}" alt=""><span><span
                                        class="naira">N</span> 1,950,000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'images/landingpage/Iphone141.png'%}">
                    </div>
                    <div class="details">
                        <p class="product-name">Apple IPhone 13 Pro Max (6GB RAM + 256GB ROM), IOS 15, - Gold</p>
                        <p class="info">Brand: Apple | Similar products from Apple<span>N 640,000</span>
                        </p>
                        <ul>
                            <li>6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel</li>
                            <li>Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
                            </li>
                            <!-- <li>Pro camera system with new 12MP Telephoto, Wide, and Ultra Wide cameras; LiDAR Scanner;
                                6x optical zoom range; macro photography; Photographic Styles, ProRes video, Smart HDR
                                4, Night mode, Apple ProRAW, 4K Dolby Vision HDR recording</li>
                            <li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
                            <li>A15 Bionic chip for lightning-fast performance</li>
                            <li>6GB RAM 128GB ROM</li>
                            <li>(12MP + 12MP + 12MP)</li>
                            <li>5G</li> -->

                        </ul>
                        <div class="store-price">
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/jumia.png'%}" alt=""><span><span
                                        class="naira">N</span> 150,000</span>
                            </div>

                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/konga.png'%}" alt=""><span><span
                                        class="naira">N</span> 350,000</span>
                            </div>
                            <div class="brand-price">
                                <img src="{% static 'images/landingpage/infinix.png'%}" alt=""><span><span
                                        class="naira">N</span> 1,950,000</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <!-- Second rectangle ends -->
    </main>
</body>

</html>