{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboardoverview</title>
</head>
<body>
    <!-- header -->
    <header>
        <div>
           <img src="{% static 'images/registration/logo.png'%}" style="" class="logo">
        </div>
        <div class="link">
           <p>Overview</p>
          <a href="../templates/dashboardcompare"><p>Compare Price</p></a> 
           <a href="../templates/dashboardsettings.html"><p>Settings</p></a>
        </div>
        <div class="div3">
            <img src="{% static 'images/dashboard/dp.png'%}" style="width: 35px;height:35px" alt=""class="svg">
           <div style="line-height: 0%;"><h3>{{user.username}}</h3>
           <p>Active</p></div>
           <div style="line-height: 2%;"><img src="{% static 'images/dashboard/alert.png'%}" alt=""class="svg"></div>
           <div><a href="{% url 'logout' %}"<img src="{% static 'images/dashboard/Logout.png'%}" alt=""class="svg"></a></div>
        </div>

    </header> 
    <img src="{% static 'images/dashboard/ish.png'%}" alt="" style="width:100vh;height:100vh">
    {% comment %} <main style="background-color: rgb(235, 230, 230) ;">

        <div class="gridContainer">
            <div class="item1">
                <div  class="card1" style="display: flex;">
                    <div>
                        <p>More than</p>
                        <h1 style="font-size: 50px">10</h1>
                    </div>
                    <div class="ps"><p>Online</p>
                    <p>Stores</p></div>
                </div class="svg">
                <img src="../Assets/images/dashboard/jumia.png" alt="" class="svgn"><img src="../Assets/images/dashboard/konga.png" alt=""class="svgn"><img src="" alt=""><img src="" alt=""class="svgn"><img src="" alt=""><img src="" alt=""class="svgn"><img src="" alt=""><img src="" alt=""class="svgn">
                <div>

                </div>

            </div>
            <div class="item2">
                
            </div>
            <div class="item3">
                <h3>Search History</h3>
                <div><input type="text"> <input type="button" value="Search"></div>
            </div>
            <div class="item4"><img class="imgg" src="../Assets/images/dashboard/image 3.png" alt=""></div>
        </div>
    </main> {% endcomment %}
</body>
</html>