
                  {% load static %}
                  <!DOCTYPE html>
                  <html lang="en">
                  <head>
                      <meta charset="UTF-8">
                      <meta http-equiv="X-UA-Compatible" content="IE=edge">
                      <meta name="viewport" content="width=device-width, initial-scale=1.0">
                      <link rel="stylesheet" href="style.css">
                      <title>priceam</title>
                      <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Nunito:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
                      <style> @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Nunito:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap'); </style>
                  
                      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                  <link rel="stylesheet" href="{% static 'css/style.css' %}">
                  </head>
                  <body>
                       
                      <div class="header">
                      <div class="top-bar"><p class="p">!!!Jumia Black Friday Sales this November!!! Dont Miss it</p></div>
                      <div>
                      <div class="navbar">
                          <div class="container" >
                              
                              <nav>
                                  <ul id="nav">
                                      <div>
                                          <img src="{% static 'images/registration/logo.png'%}" >
                                      </div>
                                      <div><li><a href="#">Home</a></li>
                                          <li><a href="#">Deals</a></li>
                                          <li><a href="{% url 'users:category'%}" >Categories</a></li>
                                          <li><a href="#">Stores</a></li></div>
                                      <div>
                                        <li><a href="{% url 'users:dashboardcompare' %}">{{user.username}}'s Dashboard <img src="{% static 'images/landingpage/Vector.png'%}" style="width:15%"></a></li>
                                          <li><a href="{% url 'logout' %}" class="login">Logout</a></li>
                                      </div>
                                  </ul>
                              </nav>
                          </div>
                  </div>
                      </div>
                      <div style ="background: linear-gradient(7.08deg, rgba(227, 120, 52, 0.24) -31.5%, rgba(255, 255, 255, 0) 94.63%);
                      ">
                          <div class="row container">
                              <div class="col-2" >
                                  <h1>Get The Best Value For <br>Your Money</h1>
                                  <p>Do you need a gadget and you don’t know the right place<br> to shop at?.... Priceam helps you find the right stores to <br>patronize.</p>
                        
                              </div>
                              <div class="col-2">
                          <img src="{% static 'images/landingpage/ladyshopping.png'%}" style="width:95%;">
                              </div>
                          </div>
                      </div>
                  
                  <div style ="background: #f3f8f5;padding :40px 0;">
                      <div class=" filter">
                          <div>
                              <label>I’m looking for</label><br>
                              <input type="text" placeholder="Enter keyword">
                          </div>
                          <div>
                              <label>Brands</label><br>
                              <select>
                                  <option>All brands</option>
                                  <option>Amazon</option>
                                  <option>Jumia</option>
                                  <option>Konga</option>
                              </select>
                          </div>
                          <div>
                              <label>Category </label><br>
                              <select>
                                  <option>Mobile Phones</option>
                                  <option>Laptops</option>
                              </select>
                          </div>
                          <input type="submit"  id ="btn1">
                      </div>
                  </div>
                  
                  
                  
                  
                  
                   
                  <div class="small-container" style="background-color:#f3f8f5;">
                      <h2 class="title">Featured Products</h2>
                      <div class="row">
                          <div class="col-4">
                              <img src="{% static 'images/landingpage/A12.png'%}">
                              <h4>Samsung Galaxy A12</h4>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-half-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                              <p>$125-$150<i class="fa fa-long-arrow-right" ></i></p>
                          
                          </div>
                          <div class="col-4">
                              <img src="{% static 'images/landingpage/Iphone141.png'%}">
                              <h4>Apple Iphone 14 Pro Max</h4>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-half-o"></i>
                              </div>
                              <p>$250.67 - $330.90<i class="fa fa-long-arrow-right" ></i></p>
                          
                          </div>
                          <div class="col-4">
                              <img src="{% static 'images/landingpage/S22.png'%}" style="padding:15px 0;">
                              <h4>Samsung S22 Ultra</h4>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                              <p>$240.67 - $280.90<i class="fa fa-long-arrow-right" ></i></p>
                          
                          </div>
                          <div class="col-4">
                              <img src="{% static 'images/landingpage/A12.png'%}">
                              <h4>Samsung Galaxy A12</h4>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-half-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                              <p>$125-$150<i class="fa fa-long-arrow-right" ></i></p>
                          
                          </div>
                      </div>
                  
                      <div> 
                        <div class=" container" id="total"> 
                            <div  id="left"> 
                                <h2>
                                    Jumia Christmas Sales!<br> Up to 50% off* 
                                </h2>
                                <p>
                                    Create an account to access our specially<br> curated list of best deals from<br> trusted vendors and so much more. 
                    
                                </p>
                                <a href="{% url 'users:register'%}" class="btn">View Deals</a>
                            </div>
                            <div id="right" > 
                                <img src="{% static 'images/landingpage/ma.png'%}">
                            </div>
                        </div>
                    </div> 
                      
                   
                  <h2 class="title">Top Deals</h2>
                  <div class="row">
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/M21.png'%}">
                          <h4>Apple Pro M2</h4>
                          <p>$ 1023.45 - $ 1250<i class="fa fa-long-arrow-right" ></i></p>
                      
                      </div>
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/13.png'%}">
                          <h4>Iphone 13</h4>
                          <p>$ 176.45 - $ 200.37<i class="fa fa-long-arrow-right" ></i></p>
                      
                      </div>
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/9.png'%}">
                          <h4>Tecno spark 9</h4>
                          <p>$ 113.07 - $ 132.96<i class="fa fa-long-arrow-right" ></i></p>
                      
                      </div>
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/1.png'%}">
                          <h4>Samsung A13 5G</h4>
                          <p>$123.25-$140.75<i class="fa fa-long-arrow-right" ></i></p>
                  
                      </div>
                  </div>
                  <div class="row ">
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/9pro1.png'%}">
                          <h4>Tecno spark 9 pro</h4>
                          <p>$ 78.97 - $ 100.08<i class="fa fa-long-arrow-right" ></i></p>
                      
                      </div>
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/11.png'%}">
                          <h4>Apple Iphone 11</h4>
                          <p>$ 143.87 - $ 170.09<i class="fa fa-long-arrow-right" ></i></p>
                      
                      </div>
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/air.png'%}">
                          <h4>Apple macbook air 2020</h4>
                          <p>$ 1175.75 - $ 1500.23<i class="fa fa-long-arrow-right" ></i></p>
                      
                      </div>
                      <div class="col-4 fit">
                          <img src="{% static 'images/landingpage/zero9.png'%}">
                          <h4>Infinix zero 9</h4>
                          <p>$ 98.53 - $ 120.03<i class="fa fa-long-arrow-right" ></i></p>
                  
                      </div>
                      
                  </div>
                  <div class="btn-2"><a href="" >View more</a></div>
                  
                  </div>
                  </div>
                  
                  
                  
                  <div class="b4footer">
                      <div class="titles">
                      <h2 >Top Brands</h2>
                      <h5 >Compare prices of your favourite brands</h5>
                      </div>
                  <div class="top-brands">
                  
                      <div class="brands">
                          {% comment %} <div class="small-container"> {% endcomment %}
                          <div class="row brandss fluid-container">
                  <div class="col-5">
                      <img src="{% static 'images/landingpage/jiji2.png'%}">
                  </div>
                  <div class="col-5">
                      <img src="{% static 'images/landingpage/infinix.png'%}">
                  </div>
                  <div class="col-5">
                      <img src="{% static 'images/landingpage/konga.png'%}">
                  </div>
                  <div class="col-5">
                      <img src="{% static 'images/landingpage/jumia.png'%}">
                  </div>
                  <div class="col-5">
                      <img src="{% static 'images/landingpage/jiji.png'%}">
                  </div>
                  
                          </div>
                  
                      
                  <div class="subscribe">
                      <div class="textc"><span style="color: #2B2B2B; font-weight: 500; font-size: 24px;">Subscribe To Our Newsletter!</span>
                          <p style="color: #555555; font-weight: 400; font-size: 16px;">Get Hot Deals At unbeatable Prices! </p><br>
                          
                                    <form action="#">
                                        <input type="text" placeholder="Email  Address" name="subscribe">
                                        <a href="" class="btn">Subscribe</a>
                                   </form>
                                   <p>Recieve updates on offers you can’t resist.<br> 
                                      Unsubscribe anytime.</p></div>
                           
                  </div>   
                  
                  </div>
                  
                      <div class="unknown">
                          <img src="{% static 'images/registration/whie.png'%}" >
                         
                      </div>
                  
                   <footer class="footer-col">
                      <div>
                          <h3>Popular categories</h3>
                          <a href="#">Phones</a><br> 
                          <a href="#">Laptops</a><br>   
                      </div>
                      <div>
                          <h3>Popular Stores</h3>
                          <a href="#">Jumia</a><br>
                          <a href="#">Konga</a><br>
                          <a href="#">Amazon</a>
                      </div>
                      <div>
                          <h3><a href="{% url 'users:faqs'%}">FAQs </a></h3>
                          <a href="{% url 'users:testimony'%}">Testimony </a><br>
                          <a href="{% url 'users:contact'%}">Contact Us</a><br>  
                          <a href="{% url 'users:faqs'%}">How to Shop on priceam</a><br>
                          <a href="{% url 'users:faqs'%}">What is priceam</a><br>
                      </div>
                      <div>
                          <h3>Join us on</h3>
                          <a href="#"><img src="{% static 'images/registration/sm.png'%}" ></a><br>
                          <a href="#"><img src="{% static 'images/registration/sc.png'%}" ></a><br>
                          <a href="#"><img src="{% static 'images/registration/ss.png'%}" ></a>
                      </div>
                     
                      
                      
                     
                  </footer>
                  </body>
                  
                  
                  </html>