<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/dashboardoverview.css">
    <title>Dashboardoverview</title>
</head>
<body>
    <!-- header -->
    <header>
        <div>
           <img src="../Assets/images/dashboard/logo.png" style="" class="logo">
        </div>
        <div class="link">
           <p>Overview</p>
          <a href="../templates/dashboardcompare"><p>Compare Price</p></a> 
           <a href="../templates/dashboardsettings.html"><p>Settings</p></a>
        </div>
        <div class="div3">
            <img src="../Assets/images/dashboard/images.png" style="width: 35px;height:35px" alt=""class="svg">
           <div style="line-height: 0%;"><h3>Ibrahim</h3>
           <p>Active</p></div>
           <div style="line-height: 2%;"><img src="../Assets/images/dashboard/1272535-200.png" alt=""class="svg"></div>
           <div><img src="../Assets/images/dashboard/images (1).png" alt=""class="svg"></div>
        </div>

    </header> 
    <main style="background-color: rgb(235, 230, 230) ;">

        <div class="gridContainer">
            <div class="item1">1</div>
            <div class="item2">2</div>
            <div class="item3">3</div>
            <div class="item4">4</div>
        </div>
    </main>
</body>
</html>