<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="PriceAmRoot\frontend\Assets\css\faqs.css">
    <script src="https://kit.fontawesome.com/d1950907f3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <div class="logo">
            <img src="PriceAmRoot/frontend/Assets/images/landingpage/green logo.png" alt="">
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Deals </a>
            <a href="#">Categories</a>
            <a href="#">Stores</a>
            <a href="#">Price Tracker</a>
            <a href="" class="login">Login</a>
        </div>
        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
    </div>
    <!--  navbar ends -->

    <!-- First section -->
    <section class="first">
        <p class="faq">FAQs</p>
        <p class="ask">Have Questions? Ask us</p>
        <p class="every">Everything you need to know about Priceam...</p>
        <div class="search">
            <div class="icon">
                <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
            </div>
            <div class="input">
                <input type="text" name="search" placeholder="Search question...">
            </div>
        </div>
    </section>
    <!-- First section ends -->

    <!-- Second section -->
    <section class="second">
        <div class="col">
            <div class="wrapper">
                <!-- Accordion Heading One -->
                <div class="parent-tab">
                    <p class="head">General</p>

                    <input type="radio" name="tab" id="tab-1" checked>
                    <label for="tab-1">
                        <span>What is PriceAm ?</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                    </label>
                    <div class="content">
                        <p>PriceAm is a price comparision platform aimed at providing
                            users with budget - friendly deals by comparing prices
                            of different brands offering a product.</p>
                    </div>
                </div>

                <!-- Accordion Heading Two -->
                <div class="parent-tab">
                    <input type="radio" name="tab" id="tab-2">
                    <label for="tab-2">
                        <span>How do I shop on PriceAm?</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                    </label>
                    <div class="content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quod animi fugiat dicta iure?
                            Neque perspiciatis recusandae unde animi, nam at pariatur?</p>
                    </div>
                </div>

                <!-- Accordion Heading Three -->
                <div class="parent-tab">
                    <input type="radio" name="tab" id="tab-3">
                    <label for="tab-3">
                        <span>Where can I ask for Help?</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                    </label>
                    <div class="content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quod animi fugiat dicta iure?
                            Neque perspiciatis recusandae unde animi, nam at pariatur?</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <!-- Accordion Heading Four -->
                    <div class="parent-tab">
                        <p class="head">Account</p>

                        <input type="radio" name="tab" id="tab-4">
                        <label for="tab-4">
                            <span>How do I register on PriceAm?</span>
                            <div class="icon"><i class="fas fa-plus"></i></div>
                        </label>
                        <div class="content">
                            <p>PriceAm is a price comparision platform aimed at providing
                                users with budget - friendly deals by comparing prices
                                of different brands offering a product.</p>
                        </div>
                    </div>

                    <!-- Accordion Heading Five -->
                    <div class="parent-tab">
                        <input type="radio" name="tab" id="tab-5">
                        <label for="tab-5">
                            <span>Can I change my current Email Address?</span>
                            <div class="icon"><i class="fas fa-plus"></i></div>
                        </label>
                        <div class="content">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quod animi fugiat dicta
                                iure? Neque perspiciatis recusandae unde animi, nam at pariatur?</p>
                        </div>
                    </div>

                    <!-- Accordion Heading Six -->
                    <div class="parent-tab">
                        <input type="radio" name="tab" id="tab-6">
                        <label for="tab-6">
                            <span>Is PriceAm free?</span>
                            <div class="icon"><i class="fas fa-plus"></i></div>
                        </label>
                        <div class="content">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quod animi fugiat dicta
                                iure? Neque perspiciatis recusandae unde animi, nam at pariatur?</p>
                        </div>
                    </div>

                    <!-- Accordion Heading Seven -->
                    <div class="parent-tab">
                        <input type="radio" name="tab" id="tab-7">
                        <label for="tab-7">
                            <span>How do I track prices?</span>
                            <div class="icon"><i class="fas fa-plus"></i></div>
                        </label>
                        <div class="content">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quod animi fugiat dicta
                                iure? Neque perspiciatis recusandae unde animi, nam at pariatur?</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Second section ends -->


    <!-- Contact us section -->
    <section class="contactus">
        <div class="contact">
            <p class="head">Need help?</p>
            <p class="body">Get in touch with our support team.</p>
        </div>
        <div class="button">
            <a href="#">Contact Us</a>
        </div>
    </section>
    <!-- Contact us section ends -->
    <script src="PriceAmRoot\frontend\Assets\scripts\faqs.js"></script>
</body>

</html>