<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial page</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="../Assets/css/testimonial.css" />
</head>

<body>
    <!--The navigation bar section-->
    <header>
        <nav class="navbar">
            <div class="icon">
                <img src="../Assets/images/dashboard/logo.png" alt="error">
            </div>
            <ul>
                <li><a href="#home.html">HOME</a> </li>
                <li><a href="#login.html">LOGIN</a> </li>
                <li><a href="#registration.html">REGISTER</a> </li>
            </ul>


        </nav>
    </header>
    <section>
        <h2>DON'T TAKE OUR WORDS FOR IT, TAKE THEIRS</h2>
        <!--The container wrapper-->
        <div class="wrapper">
            <!--first div container-->
            <div class="container">
                <div class="profile">
                    <div class="imgbox">
                        <img src="../Assets/images/dashboard/j.jpg" alt="error">
                    </div>
                    <h4>James Brown</h4>
                </div>
                <p>"This site is the best<br>
                    at bringing different<br>
                    prices for us"</p>

            </div>
            <!--second div container-->
            <div class="container">
                <div class="profile">
                    <div class="imgbox">
                        <img src="../Assets/images/dashboard/j.jpg" alt="error">
                    </div>
                    <h4>James Brown</h4>
                </div>
                <p>"This site is the best<br>
                    at bringing different<br>
                    prices for us"</p>

            </div>
            <!--third div container-->
            <div class="container">
                <div class="profile">
                    <div class="imgbox">
                        <img src="../Assets/images/dashboard/j.jpg" alt="error">
                    </div>
                    <h4>James Brown</h4>
                </div>
                <p>"This site is the best<br>
                    at bringing different<br>
                    prices for us"</p>

            </div>
            <!--fourth div container-->
            <div class="container">
                <div class="profile">
                    <div class="imgbox">
                        <img src="../Assets/images/dashboard/j.jpg" alt="error">
                    </div>
                    <h4>James Brown</h4>
                </div>
                <p>"This site is the best<br>
                    at bringing different<br>
                    prices for us"</p>

            </div>
            <!--fifth div container-->
            <div class="container">
                <div class="profile">
                    <div class="imgbox">
                        <img src="../Assets/images/dashboard/j.jpg" alt="error">
                    </div>
                    <h4>James Brown</h4>
                </div>
                <p>"This site is the best<br>
                    at bringing different<br>
                    prices for us"</p>

            </div>
            <!--last div container-->
            <div class="container">
                <div class="profile">
                    <div class="imgbox">
                        <img src="../Assets/images/dashboard/j.jpg" alt="error">
                    </div>
                    <h4>James Brown</h4>
                </div>
                <p>"This site is the best<br>
                    at bringing different<br>
                    prices for us"</p>

            </div>
        </div>
    </section>
    <footer>
        <!--contact navigation bar-->
        <div class="nav">
            <div class="search">
                <input class="srch" type="search" placeholder="Search for products,brands and categories...">
            </div>
            <ul>
                <li><a href="#faqs.html">help Center</a></li>
                <li><a href="#contact.html">How to shop on PriceAm?</a></li>
                <li><a href="#home.html">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>